<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>Performance Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Faraz Ahmed">

    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
 
    

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    
    <link rel="shortcut icon" href="ico/favicon.ico">
  	
    
  </head>
  <body>
  
  
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
          <a class="navbar-brand" href="index.html"><img src="img/logo30.png" alt=""> Cognition - Performance Management</a>
	</div>  
       
<div class="container">

	  <!-- FIRST ROW OF BLOCKS -->     
    <div class="row">

      <!-- USER PROFILE BLOCK -->
        <div class="col-sm-12">
			<a href="details.html">
      			<div class="dash-unit">
	      			<dtitle>Employee 1</dtitle>
	      			<hr>				
					<div class="row">
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-2">
								<img src="img/face80x80.jpg" alt="Marcel Newman" class="img-circle">						
							</div>			
							<div class="col-sm-4">
								<h1>Marcel Newman</h1>
								<h3>Software developer</h3>
							</div>				
							<div class="col-sm-4"></div>					
						</div>
					<br>					
					</div>		
        		</div>
			</a>
	 	</div><!-- /row -->
     
	</div>	 
	  
	<div class="row">

      <!-- USER PROFILE BLOCK -->
        <div class="col-sm-12">
			<a href="details.html">
		
      			<div class="dash-unit">
	      			<dtitle>Employee 2</dtitle>
	      			<hr>
				
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<img src="img/photo01.jpeg" alt="John Smith" class="img-circle">						
						</div>			
						<div class="col-sm-4">
							<h1>John Smith</h1>
							<h3>UX Designer</h3>
						</div>				
						<div class="col-sm-4"></div>					
					</div>								
				<br>					
				</div>
		 </a>
        </div>
	 </div><!-- /row -->
	 
	<div class="row">

      <!-- USER PROFILE BLOCK -->
        <div class="col-sm-12">
			<a href="details.html">
      			<div class="dash-unit">
	      			<dtitle>Employee 3</dtitle>
	      			<hr>
				
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<img src="img/photo02.jpg" alt="Ileana D'Cruz" class="img-circle">						
						</div>			
						<div class="col-sm-4">
							<h1>Ileana D'Cruz</h1>
							<h3>Quality Assurance</h3>
						</div>				
						<div class="col-sm-4"></div>					
					</div>							
					<br>					
				</div>
			</a>
        </div>
	 </div><!-- /row -->
      
      
</div> <!-- /container -->
	



    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript" src="js/bootstrap.js"></script>
	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topLeft.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="js/noty/layouts/topCenter.js"></script>
	
  
</body></html>